@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--container for scrolling-->
<div class="container">
    <!--About-->
    <section class="container-fluid">
        <h1 class="text-light">About</h1>
        <div class="text-light">
            <div class="me">
                <h2 class="text-light">Nicholas Nowosad</h2>
                <p class="text-light">
                    Hi I am a NAIT Electronics Engineering Technologist Honors Grad. I am currently working a part time job
                    while learning more programming skills. Recently I have been working with Unreal Engine, C++, C#, javascript, React, nodejs and Mongodb.
                </p>
            </div>
            <div class="">
                <h2 class="text-light">Education</h2>
                <p class="text-light">NAIT Eectronics Engineering Technology: GPA 4.0</p>
                <a class="text-light" href="~/images/Transcript.pdf" target="_blank"> Transcript</a>
                <p class="text-light">University of Saskatchewan Enviromental Biology: Withdrew</p>
                <h2>Resume</h2>
                <a class="svg" href="https://my.indeed.com/p/nicholasn-6fyj8qe" target="_blank"><img src="~/images/indeed-logo.svg"></a>
                <a class="svg" href="https://github.com/MindSet-design" target="_blank"><img src="~/images/github-2.svg"></a>
            </div>
        </div>
    </section>
    <!--Projects-->
    <section class="container-fluid">
        <h1 class="text-light">Projects</h1>
        <ul classname="ul" class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 align-content-center justify-content-center" style="list-style-type: none; padding:0; margin:0;">
            <li classname="li" class="col p-3 border bg-dark text-light" style="border-radius: 5%; margin-bottom: 1em;margin-right: 1em;text-align: center;">
                <h2>First Portfolio Site</h2>
                <a class="svg" href="https://github.com/MindSet-design/Portfolio-Site" target="_blank"><img src="~/images/github-2.svg"></a>
                <div class="svg">
                    <img src="~/images/html-1.svg">
                    <img src="~/images/css-3.svg">
                    <img src="~/images/sass-1.svg">
                </div>
            </li>

            <li classname="li" class="col p-3 border bg-dark text-light" style="border-radius: 5%; margin-bottom: 1em;margin-right: 1em;text-align: center;">
                <h2>NAIT Final Project</h2>
                <a class="svg" href="https://www.youtube.com/watch?v=rxiFlBYINkI" target="_blank"><img src="~/images/youtube-2.svg"></a>
                <a class="svg" href="https://github.com/MindSet-design/NAIT-Final-Project" target="_blank"><img src="~/images/github-2.svg"></a>
                <a class="text-light text-underlined" href="~/images/" target="_blank"> <h2>Report</h2></a>
                <div class="svg">
                    <img src="~/images/arduino-1.svg">
                    <img src="~/images/raspberry-pi.svg">
                    <img src="~/images/c.svg">
                </div>
            </li>

            <li classname="li" class="col p-3 border bg-dark text-light" style="border-radius: 5%; margin-bottom: 1em;margin-right: 1em;text-align: center;">
                <a class="text-light text-underlined" href="http://MindSet-design.github.io/React-Survey-Site" target="_blank"><h2>React Survey Site</h2></a>
                <a class="svg" href="https://github.com/MindSet-design/React-Survey-Site-Source" target="_blank"><img src="~/images/github-2.svg"></a>
                <div class="svg">
                    <img src="~/images/mongodb-icon-1.svg">
                    <img src="~/images/expressjs-icon.svg">
                    <img src="~/images/react-2.svg">
                    <img src="~/images/nodejs-2.svg">
                </div>
            </li>

            <li class="col p-3 border bg-dark text-light" style="border-radius: 5%; margin-bottom: 1em;margin-right: 1em;text-align: center;"> 
                <h2>More to come</h2>
            </li>
        </ul>
    </section>
    <!--Contact-->
    <section class="container-fluid">
        <h1 class="text-light">Contact</h1>
        <div class="contact-content">
            <h2 class="text-light">Email: nicholasnowosad@gmail.com</h2>
            <a class="svg" href="https://my.indeed.com/p/nicholasn-6fyj8qe" target="_blank"><img src="~/images/indeed-logo.svg"></a>
        </div>
    </section>
</div>
