@page
@model PortfolioSite.Pages.PostSuccessModel
@{
}
<section class="container-fluid d-flex justify-content-center">
    <div class="text-light bg-dark p-5 text-center">
        <form method="post">
            <h1>
                Submission was successful
            </h1>
            <input class="btn btn-primary mt-3" type="submit" value="Continue" />
        </form>
    </div>
</section>
