@page
@model PortfolioSite.Pages.SurveyModel
@{
}
<form method="post" action="api/Survey">
    <fieldset>

        <!--Personal information-->
        <legend>Survey</legend>
        <!--Company Input-->
        <input className="textinput"
               placeholder="Company"
               name="Company"
               type="text"
               value="" />
        <br />
        <!--Position Input-->
        <input className="textinput"
               placeholder="Position"
               name="Position"
               type="text"
               value="" />
        <br />
        <!--City Input-->
        <input className="textinput"
               placeholder="City"
               name="City"
               type="text"
               value="" />
        <br />
        <!--Province/State Input-->
        <input className="textinput"
               placeholder="Province/State"
               name="Province"
               type="text"
               value="" />
        <br />
        <!--Country Input-->
        <input className="textinput"
               placeholder="Country"
               name="Country"
               type="text"
               value="" />
        <br />

        <label className="Question">
            Interest Level
        </label>

        <!--intrest level Input-->

        <input className="bubbles"
               id="very weak"
               name="Interest"
               type="radio"
               value="very weak" />
        <label htmlFor="very weak">very weak</label>

        <input className="bubbles"
               id="weak"
               name="Interest"
               type="radio"
               value="weak" />
        <label htmlFor="weak">weak</label>

        <input className="bubbles"
               id="neutral"
               name="Interest"
               type="radio"
               value="neutral" />
        <label htmlFor="neutral">neutral</label>

        <input className="bubbles"
               id="strong"
               name="Interest"
               type="radio"
               value="strong" />
        <label htmlFor="strong">strong</label>

        <input className="bubbles"
               id="very strong"
               name="Interest"
               type="radio"
               value="very string" />
        <label htmlFor="very strong">very strong</label>

        <!--Comments Input-->
        <div>
        <label htmlFor="Comments">Comments</label>
        </div>

        <div>
            <textarea 
                placeholder="comments"
                id="Comments"
                name="Comments"
                type="text"
                rows="4"
                cols="50"
                maxlength="250"
                value=""></textarea>
          </div>
            <!--Passsword Input-->
            <input className="textinput"
                   placeholder="Password"
                   name="Password"
                   type="text"
                   maxlength="20"
                   value="" />
            <br />

        <input class="submit" type="submit" value="Submit" />
    </fieldset>

</form>